p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24;
};

.gallery-item {
    flex: 1 1 auto;
    box-sizing: border-box;
    max-width: calc(33.3333% - 10px);
};

.gallery-link{
    display: block
};

.gallery-image{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
};